<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productPhoto">
            <h2><span jhiTranslate="portalApp.productPhoto.detail.title">Product Photo</span> {{productPhoto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portalApp.productPhoto.thumbNailPhoto">Thumb Nail Photo</span></dt>
                <dd>
                    <span>{{productPhoto.thumbNailPhoto}}</span>
                </dd>
                <dt><span jhiTranslate="portalApp.productPhoto.thumbNailPhotoFileName">Thumb Nail Photo File Name</span></dt>
                <dd>
                    <span>{{productPhoto.thumbNailPhotoFileName}}</span>
                </dd>
                <dt><span jhiTranslate="portalApp.productPhoto.largePhoto">Large Photo</span></dt>
                <dd>
                    <span>{{productPhoto.largePhoto}}</span>
                </dd>
                <dt><span jhiTranslate="portalApp.productPhoto.largePhotoFileName">Large Photo File Name</span></dt>
                <dd>
                    <span>{{productPhoto.largePhotoFileName}}</span>
                </dd>
                <dt><span jhiTranslate="portalApp.productPhoto.priority">Priority</span></dt>
                <dd>
                    <span>{{productPhoto.priority}}</span>
                </dd>
                <dt><span jhiTranslate="portalApp.productPhoto.product">Product</span></dt>
                <dd>
                    <div *ngIf="productPhoto.productId">
                        <a [routerLink]="['/products', productPhoto.productId, 'view']">{{productPhoto.productProductName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-photo', productPhoto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
