<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-orders-heading" jhiTranslate="portalApp.orders.home.createOrEditLabel">Create or edit a Orders</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!orders.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="orders.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.orderDate" for="field_orderDate">Order Date</label>
                    <div class="input-group">
                        <input id="field_orderDate" type="text" class="form-control" name="orderDate" ngbDatepicker  #orderDateDp="ngbDatepicker" [(ngModel)]="orders.orderDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="orderDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.orderDate?.dirty && editForm.controls.orderDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.expectedDeliveryDate" for="field_expectedDeliveryDate">Expected Delivery Date</label>
                    <div class="input-group">
                        <input id="field_expectedDeliveryDate" type="text" class="form-control" name="expectedDeliveryDate" ngbDatepicker  #expectedDeliveryDateDp="ngbDatepicker" [(ngModel)]="orders.expectedDeliveryDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expectedDeliveryDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.expectedDeliveryDate?.dirty && editForm.controls.expectedDeliveryDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.expectedDeliveryDate?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.customerPurchaseOrderNumber" for="field_customerPurchaseOrderNumber">Customer Purchase Order Number</label>
                    <input type="text" class="form-control" name="customerPurchaseOrderNumber" id="field_customerPurchaseOrderNumber"
                        [(ngModel)]="orders.customerPurchaseOrderNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.isUndersupplyBackordered" for="field_isUndersupplyBackordered">Is Undersupply Backordered</label>
                    <input type="checkbox" class="form-control" name="isUndersupplyBackordered" id="field_isUndersupplyBackordered"
                        [(ngModel)]="orders.isUndersupplyBackordered" />
                    <div [hidden]="!(editForm.controls.isUndersupplyBackordered?.dirty && editForm.controls.isUndersupplyBackordered?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isUndersupplyBackordered?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                        [(ngModel)]="orders.comments" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.deliveryInstructions" for="field_deliveryInstructions">Delivery Instructions</label>
                    <input type="text" class="form-control" name="deliveryInstructions" id="field_deliveryInstructions"
                        [(ngModel)]="orders.deliveryInstructions" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.internalComments" for="field_internalComments">Internal Comments</label>
                    <input type="text" class="form-control" name="internalComments" id="field_internalComments"
                        [(ngModel)]="orders.internalComments" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.pickingCompletedWhen" for="field_pickingCompletedWhen">Picking Completed When</label>
                    <div class="d-flex">
                        <input id="field_pickingCompletedWhen" type="datetime-local" class="form-control" name="pickingCompletedWhen" [(ngModel)]="pickingCompletedWhen" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.pickedByPerson" for="field_pickedByPerson">Picked By Person</label>
                    <select class="form-control" id="field_pickedByPerson" name="pickedByPerson" [(ngModel)]="orders.pickedByPersonId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackPeopleById">{{peopleOption.fullName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.contactPerson" for="field_contactPerson">Contact Person</label>
                    <select class="form-control" id="field_contactPerson" name="contactPerson" [(ngModel)]="orders.contactPersonId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackPeopleById">{{peopleOption.fullName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.salespersonPerson" for="field_salespersonPerson">Salesperson Person</label>
                    <select class="form-control" id="field_salespersonPerson" name="salespersonPerson" [(ngModel)]="orders.salespersonPersonId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id" *ngFor="let peopleOption of people; trackBy: trackPeopleById">{{peopleOption.fullName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="orders.customerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customersOption.id" *ngFor="let customersOption of customers; trackBy: trackCustomersById">{{customersOption.customerName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="portalApp.orders.backorderOrder" for="field_backorderOrder">Backorder Order</label>
                    <select class="form-control" id="field_backorderOrder" name="backorderOrder" [(ngModel)]="orders.backorderOrderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ordersOption.id" *ngFor="let ordersOption of orders; trackBy: trackOrdersById">{{ordersOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
